function Main.main 1
call RunnerGame.newInstance 0
pop temp 0
call RunnerGame.getInstance 0
pop local 0
push local 0
call RunnerGame.run 1
pop temp 0
push local 0
call RunnerGame.dispose 1
pop temp 0
push constant 0
return
