function Runner.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push constant 20
pop this 2
push constant 20
pop this 3
push constant 0
pop this 4
push pointer 0
call Runner.show 1
pop temp 0
push pointer 0
return
function Runner.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Runner.show 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push pointer 0
call Runner.draw 1
pop temp 0
push constant 0
return
function Runner.hide 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push pointer 0
call Runner.draw 1
pop temp 0
push constant 0
return
function Runner.draw 0
push argument 0
pop pointer 0
push this 0
push this 1
push constant 9
add
push this 0
push constant 19
add
push this 1
push constant 10
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 5
add
push this 1
push constant 15
add
push constant 4
call Screen.drawCircle 3
pop temp 0
push this 0
push constant 15
add
push this 1
push constant 15
add
push constant 4
call Screen.drawCircle 3
pop temp 0
push this 0
push constant 15
add
push this 1
push constant 9
add
push this 0
push constant 15
add
push this 1
push constant 4
add
call Screen.drawLine 4
pop temp 0
push this 0
push constant 11
add
push this 1
push constant 4
add
push this 0
push constant 19
add
push this 1
push constant 4
add
call Screen.drawLine 4
pop temp 0
push this 4
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push constant 4
add
push this 1
push constant 4
add
push constant 3
call Screen.drawCircle 3
pop temp 0
label IF_FALSE0
push constant 0
return
function Runner.setPicked 0
push argument 0
pop pointer 0
push argument 1
pop this 4
push constant 0
return
function Runner.moveTo 0
push argument 0
pop pointer 0
push pointer 0
call Runner.hide 1
pop temp 0
push argument 1
pop this 0
push argument 2
pop this 1
push pointer 0
call Runner.draw 1
pop temp 0
push constant 0
return
